[Unit]
Description=Cobbler Daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/cobblerd
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
